body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family:'Courier New', Courier, monospace;
}

#maincontainer {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
    border-radius: 20px;
    padding: 20px;
}

#topcon, #bottomcon {
    height: 50px;
    width: 700px;
}

#bottomcon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

#bottomcon button {
    height: 40px;
    width: 90px;
    font-size: 6;
}

#inputgridnum {
    height: 20px;
    width: 40px;
}

#middleconcon {
    display: flex;
}

#leftcon, #rightcon {
    width: 50px;
    height: 600px;
}

#contentcontainer {
    height: 600px;
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.griddiv {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
}

.rowdiv {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: white;
    align-items: stretch;
}

.etchborder {
    background-color: rgb(212, 6, 6);
}